.register {
    text-align: center;
}


.button ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
}

.button li {
    background-color: var(--blue);
    border: 1px solid var(--green);
}

.naturalform {
    display: block;
}


.legalform {
    display: block;
}

