.register {
  text-align: center;
}

button {
  border: none;
  background-color: var(--blue);
}

.button ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.button li {
  border: none;
}



.naturalform {
  display: block;
}

.legalform {
  display: block;
}
