.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.2em;
}



@media (max-width: 965px) {
    .home { 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 2.2em;
    }
}
