.footer {
  height: 9em;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
}

.contact {
  font-size: 2em;
}

.contact ul {
  list-style: none;
}

.links ul {
  display: flex;
  flex-direction: row;
}

.links li {
  padding: 0em 0em 0em 1em;
  font-size: 3em;
  list-style: none;
}

.links li a {
  color: var(--black);
}

.copyright {
  align-self: flex-end;
  margin-right: 0.4em;
}

@media (max-width: 965px) {
  .footer {
    height: 150px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
  }

  .contact {
    font-size: 2em;
    margin-top: 2em;
  }

  .links ul {
    display: flex;
    padding: 0;
    margin-top: -3em;
  
    align-self: flex-start;
  }

  .links li {
    font-size: 2em;
    list-style: none;
  }

  .links li a {
    color: var(--black);
    padding: auto;
  }

  .copyright {
    padding: 0em;
    align-self: flex-end;
    margin-right: 0.4em;
  }
}
