:root {
  --blue: #0094b0;
  --pink: #db75c9;
  --pink-dark: #e1a3d6;
  --yellow: #f3a801;
  --green: #01c086;
  --black: #000;
  --white: #fff;
  --font: "The Nautigal", cursive

}

.container {
  min-height: 60vh;
  max-width: 100%;
  margin-bottom: 5em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

