.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleA{
  margin-left: 1em;
}

.titleB {
  margin-right: 1em;
}

.upload {
  display: flex;
  flex-direction: row;
  padding: 1%;
  width: 50%;
  align-items: center;
}

.upload label {
  padding-right: 1em;
}

.productDetails {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.productDetails input {
  background-color: #faf0e6;
}

.image {
  padding: 1%;
  margin-bottom: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  width: 22em;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 2em;
}

.productDescription {
  display: flex;
  flex-direction: row;
}

.product span {
  width: fit-content;
}

.product label {
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--grey-dark);
}

.description {
  margin-left: 1em;
  align-items: flex-start;
}

.description label {
  width: 100%;
  margin-bottom: 1em;
}
.description {
  margin-left: 2em;
}

.description textarea {
  width: 43em;
}

.list {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  width: fit-content;
  border: 1px solid var(--grey-dark);
  width: 100%;
  height: 36em;
}

.paths {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1em;
  margin: 1em;
}

.imageList {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-auto-flow: row;
  gap: 1em;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
  overflow: scroll;
}

@media (max-width: 965px) {
  .upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    width: 100%;
  }

  .upload label {
    padding-right: 1em;
  }

  .productDetails {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }

  .productDetails input {
    background-color: #faf0e6;
  }

  .image {
    padding: 1%;
    margin-bottom: 1em;
  }

  .image input {
    width: fit-content;
  }

  .product {
    display: flex;
    flex-direction: column;
    width: 22em;
  }

  .productDescription {
    display: flex;
    flex-direction: row;
  }

  .product span {
    width: fit-content;
  }

  .product label {
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--grey-dark);
  }

  .description {
    margin-left: 1em;
    align-items: flex-start;
  }

  .description label {
    width: 100%;
    margin-bottom: 1em;
  }
  .description {
    margin-left: 2em;
  }

  .description textarea {
    width: 43em;
  }

  .preview {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 15em;
  }
}
